--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.39.0
fastapi==0.115.2
uvicorn[standard]==0.32.0
transformers==4.46.3
torch==2.5.1+cpu
pandas==2.2.3
scikit-learn==1.5.2
numpy==1.26.4
joblib==1.4.2
